<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/jstore</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">mysql</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <mapping resource="jstore/ProveedorEstado.hbm.xml"/>
    <mapping resource="jstore/Producto.hbm.xml"/>
    <mapping resource="jstore/Categoria.hbm.xml"/>
    <mapping resource="jstore/Usuario.hbm.xml"/>
    <mapping resource="jstore/ProductoDetalle.hbm.xml"/>
    <mapping resource="jstore/Movimiento.hbm.xml"/>
    <mapping resource="jstore/Contacto.hbm.xml"/>
    <mapping resource="jstore/Proveedor.hbm.xml"/>
    <mapping resource="jstore/Tienda.hbm.xml"/>
    <mapping resource="jstore/ContactoEstado.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
