<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
    <property name="hibernate.connection.url">jdbc:sqlserver://CASA-B4569EBEAC\CASA;databaseName=Joyeria</property>
    <property name="hibernate.connection.username">sa</property>
    <property name="hibernate.connection.password">stingray</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <property name="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</property>
    <property name="hibernate.show_sql">true</property>
    <mapping resource="joyeria/Familia.hbm.xml"/>
    <mapping resource="joyeria/DetalleIngreso.hbm.xml"/>
    <mapping resource="joyeria/Ingreso.hbm.xml"/>
    <mapping resource="joyeria/Proveedor.hbm.xml"/>
    <mapping resource="joyeria/Vendedor.hbm.xml"/>
    <mapping resource="joyeria/Producto.hbm.xml"/>
    <mapping resource="joyeria/TipoDocumentos.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
